/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
div.btn-primary-width {
  width: 67%;
  text-align:right;
  padding:10px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

.element {
  display: inline-block;
  width: 50px;
  /*height: 50px;*/
}
input[type=text] {
  border: 2px solid #aaa;
  border-radius: 30px;
  margin: 3px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
  height: 30px;
  text-align: center;
}
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #0dcaf0;
  
}
div.mainWidth {
  width: 100%;
  display: flex;
}

div.widget {
  position: relative;
  /*width: 200px;*/
  /*width: 20%;*/
  margin: 10px;
  background-color: #fcfdfd;
  border-radius: 20px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
  height: 193px;
}
.city-text {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}
.height-image{
    height:30px
}
div.left-panel {
}

div.date {
  font-size: 12px;
    font-weight: bold;
      color: rgba(0,0,0,0.7);
  text-align: center;
}

div.city {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;

  color: rgba(0,0,0,0.7);
}

div.temp {
  font-size: 10px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
  text-align: center;
}

div.panel {
  display: inline-block;
}

div.right-panel {
  position: absolute;
  float: right;
  top: 0;
  margin-top: 35px;
  padding-left: 10px;
}


@media only screen and (max-width: 768px) {

  div.widget {
    position: relative;
    /* width: 200px; */
    width: 40%;
    margin: 15px auto;
    background-color: #fcfdfd;
    border-radius: 20px;
    padding: 25px;
    padding-right: 30px;
    box-shadow: 0px 31px 35px -26px #080c21;
    height: 193px;
  }
  div.mainWidth {
    width: 100%;
    display: block;
    overflow: scroll;
    height:500px
  }
}
